*
!.gitignore
!.zshrc
!.tmux.conf

!.config/
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/alacritty/alacritty.yml
!.config/nvim
!.config/nvim/init.lua
!.config/nvim/plugin
!.config/nvim/plugin/packer_compiled.lua
!.config/nvim/lua/
!.config/nvim/lua/custom
!.config/nvim/lua/custom/init.lua
!.config/nvim/lua/custom/packer.lua
!.config/nvim/lua/custom/remap.lua
!.config/nvim/lua/custom/set.lua
!.config/nvim/after
!.config/nvim/after/plugin
!.config/nvim/after/plugin/colors.lua
!.config/nvim/after/plugin/comments.lua
!.config/nvim/after/plugin/gitsigns.lua
!.config/nvim/after/plugin/harpoon.lua
!.config/nvim/after/plugin/jest.lua
!.config/nvim/after/plugin/lsp.lua
!.config/nvim/after/plugin/lualine.lua
!.config/nvim/after/plugin/projects.lua
!.config/nvim/after/plugin/telescope.lua
!.config/nvim/after/plugin/treesitter.lua